{% extends 'index.html' %}
{% block content %}
<!-- content -->
<div class="app-content-body">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">创建部门</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            {#                人员录入表单#}
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-id-1">部门名称</label>
                    <div class="col-sm-5{% if error %}has-error{% endif %}">
                        <input id="departmentname" name="departmentname" type="text" class="form-control" id="input-id-1">
                    </div>
                    <div class="col-sm-2">
                        <button id="addDepartment" class="btn btn-default" onclick="sayHello()">建立部门</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- / content -->

{% block js %}
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
    });
    function sayHello() {
        var name = $("#departmentname").val();
        $.ajax({
            url: "{% url 'add_departments' %}",
            data: {departmentname:name},
            type: "POST",
            success: function (result) {
                alert("success")
            },
            error: function (result) {
                alert("error")
            }
        });
    }
</script>
{% endblock %}
