<!-- content -->
<div class="app-content-body">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">创建部门</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            {#                人员录入表单#}
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-id-1">部门名称</label>
                    <div class="col-sm-5">
                        <input id="departmentname" name="departmentname" type="text" class="form-control" id="input-id-1">
                    </div>
                    <div class="col-sm-2">
                        <button id="addDepartment" class="btn btn-default" onclick="sayHello()">建立部门</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
    });
    function sayHello() {
        $.ajax({
            url: "{% url 'add_departments' %}",
            data: {departmentname:'设计部'},
            type: "POST",
            success: function (result) {
                var p = $(".app-content-body");
                p.cleanHtml();
                p.load(result);
            }
        });
    }
</script>
<!-- / content -->
