
<!-- content -->
<div class="app-content-body " ng-app="staffsApp">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">所有人员</h1>
    </div>
    <div class="wrapper-md">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body" ng-controller="staffsCtrl">
                        <table class="table table-hover" data-toggle="table">
                            <thead>
                            <tr>
                                <th  style="width:20%">姓名</th>
                                <th  style="width:10%">性别</th>
                                <th  style="width:30%">部门</th>
                                <th  style="width:15%">职位</th>
                                <th  style="width:15%">状态</th>
                                <th  style="width:10%">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {#                            {% for staff in staffs %}#}
                            {#                                <td>{{ staff.staff_name }}</td>#}
                            {#                                <td>{{ staff.sex }}</td>#}
                            {#                                <td>{{ staff.department.department_name }}</td>#}
                            {#                                <td>{{ staff.login_name }}</td>#}
                            {#                                <td>{{ staff.password }}</td>#}
                            {#                                <td><a class="btn btn-xs btn-default">查看</a></td>#}
                            {#                            {% endfor %}#}
                            {% for staff in staffs %}
                            <tr>
                                <td>{{ staff.staff_name }}</td>
                                <td>{% if staff.sex == "M" %}男{% else %}女{% endif %}</td>
                                <td>{{ staff.department.department_name }}</td>
                                <td>职位</td>
                                <td>状态</td>
                                <td><a class="btn btn-xs btn-default" ng-click="sayHello()">查看</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- 分页 -->
                        <nav>
                            <ul class="pagination pagination-sm">
                                <li class="disabled">
                                    <a ng-click="Previous()">
                                        <span>上一页</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">1</a>
                                </li>

                                <li>
                                    <a ng-click="Next()">
                                        <span>下一页</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- / 分页 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{#    allStaffsApp.controller('allStaffsCtrl', function ($scope) {#}
{#        $scope.data = response.data.records;#}
{#        //分页总数#}
{#        $scope.pageSize = 5;#}
{#        $scope.pages = Math.ceil($scope.data.length / $scope.pageSize); //分页数#}
{#        $scope.newPages = $scope.pages > 5 ? 5 : $scope.pages;#}
{#        $scope.pageList = [];#}
{#        $scope.selPage = 1;#}
{#        //设置表格数据源(分页)#}
{#        $scope.setData = function () {#}
{#            $scope.items = $scope.data.slice(($scope.pageSize * ($scope.selPage - 1)), ($scope.selPage * $scope.pageSize));//通过当前页数筛选出表格当前显示数据#}
{#        }#}
{#        $scope.items = $scope.data.slice(0, $scope.pageSize);#}
{#        //分页要repeat的数组#}
{#        for (var i = 0; i < $scope.newPages; i++) {#}
{#            $scope.pageList.push(i + 1);#}
{#        }#}
{#        //打印当前选中页索引#}
{#        $scope.selectPage = function (page) {#}
{#            //不能小于1大于最大#}
{#            if (page < 1 || page > $scope.pages) return;#}
{#            //最多显示分页数5#}
{#            if (page > 2) {#}
{#                //因为只显示5个页数，大于2页开始分页转换#}
{#                var newpageList = [];#}
{#                for (var i = (page - 3) ; i < ((page + 2) > $scope.pages ? $scope.pages : (page + 2)) ; i++) {#}
{#                    newpageList.push(i + 1);#}
{#                }#}
{#                $scope.pageList = newpageList;#}
{#            }#}
{#            $scope.selPage = page;#}
{#            $scope.setData();#}
{#            $scope.isActivePage(page);#}
{#            console.log("选择的页：" + page);#}
{#        };#}
{#        //设置当前选中页样式#}
{#        $scope.isActivePage = function (page) {#}
{#            return $scope.selPage == page;#}
{#        };#}
{##}
{#        //上一页#}
{#        $scope.Previous = function () {#}
{#            $scope.selectPage($scope.selPage - 1);#}
{#        }#}
{#        //下一页#}
{#        $scope.Next = function () {#}
{#            $scope.selectPage($scope.selPage + 1);#}
{#        };#}
{#    });#}
<!-- / content -->
