
<!-- content -->
<div class="app-content-body " ng-app="staffsApp">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">设计人员</h1>
    </div>
    <div class="wrapper-md">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body" ng-controller="staffsCtrl">
                        <table class="table table-hover" data-toggle="table">
                            <thead>
                            <tr>
                                <th  style="width:20%">姓名</th>
                                <th  style="width:10%">性别</th>
                                <th  style="width:30%">部门</th>
                                <th  style="width:15%">职位</th>
                                <th  style="width:15%">状态</th>
                                <th  style="width:10%">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {#                            {% for staff in staffs %}#}
                            {#                                <td>{{ staff.staff_name }}</td>#}
                            {#                                <td>{{ staff.sex }}</td>#}
                            {#                                <td>{{ staff.department.department_name }}</td>#}
                            {#                                <td>{{ staff.login_name }}</td>#}
                            {#                                <td>{{ staff.password }}</td>#}
                            {#                                <td><a class="btn btn-xs btn-default">查看</a></td>#}
                            {#                            {% endfor %}#}

                            <tr ng-repeat="staff in staffs">
                                <td>[[ staff.staff_name ]]</td>
                                <td>[[ staff.sex ]]</td>
                                <td>[[ staff.department.department_name ]]</td>
                                <td>职位</td>
                                <td>状态</td>
                                <td><a class="btn btn-xs btn-default" ng-click="sayHello()">查看</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- 分页 -->
                        <nav>
                            <ul class="pagination pagination-sm">
                                <li class="disabled">
                                    <a ng-click="Previous()">
                                        <span>上一页</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                {#                                <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >#}
                                {#                                    <a ng-click="selectPage(page)" >#}
                                {#                                        {{ page }}#}
                                {#                                    </a>#}
                                {#                                </li>#}
                                <li>
                                    <a ng-click="Next()">
                                        <span>下一页</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- / 分页 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / content -->
