{% extends 'blogin.html' %}
{% load staticfiles %}
{#标题#}
{% block title %}DSSMS 管理系统{% endblock %}
{#导入包#}
{% block include %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
{% endblock %}
{#内容部分#}
{% block contain %}

{% endblock %}
