{% extends 'clogin.html' %}
{% load staticfiles %}

{% block include %}
    <link rel="stylesheet" href="{% static 'company/company.css' %}">
    <script type="text/javascript" src="{% static 'company/company.js' %}"></script>
{% endblock %}

{% block contain %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ error }}
        {{ company_login.as_p }}

        <input type="submit" value="登陆"/>
        <input class="input" type="button" value="忘记密码" onclick="forget()"/>
        <input class="input" type="button" value="注册公司" onclick="regist()"/>
    </form>
{% endblock %}